# SPDX-FileCopyrightText: 2026 Sascha Brawer <sascha@brawer.ch>
# SPDX-License-Identifier: MIT

*~
*.pyc
__pycache__/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/dist/
/.venv/
/osmviews.tiff
/osmviews.json
